html{

    background: url(../img/bg.png) no-repeat center center fixed;
}
.prof-box{
    width: 450px;
    height: 450px;
    background-color: rgb(26, 26, 66) ;
    padding: 40px;
    color: blanchedalmond;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.prof-pic{

    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style:solid ;
    border-color:  white ;
    border-width: 4px;
    border-radius:50%;
}
h1{
    
    font-weight:100 ;
    letter-spacing: 6;
    font-size: 40px;


}
p{
    font-weight:100 ;
    letter-spacing: 1;
   
}
.line-break {

    width: 140px;
    margin: 0 auto;
    border-top: 1px solid white;


}
 
.social-icons a {
    
    color:  white ;
}

.social-icons a:hover {
    color: rgb(110, 161, 238);
} 